body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #181818; /* Dark background */
  color: white;
  height: auto;
}

.signup-container {
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ellipse {
  position: absolute;
  bottom: 0px;
  right: 20%;
  z-index: -1;
}

.signup-form {
  /* background-color: #1f1f1f; */
  padding: 2rem;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  text-align: center;
  width: 300px;
}

.signup-form h2 {
  margin-bottom: 1.5rem;
}

.signup-form input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #18181B; /* Dark input fields */
  color: white;
}

.signup-form input:focus {
  outline: none;
  border-color: #007bff; /* Blue border for focus */
}

.signup-form .error {
  color: #ff5252; /* Bright red for error messages */
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
.label-text {
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0px;
  padding-right: 100%;
}
.label-text1 {
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0px;
  padding-right: 67%;
}

.signup-btn {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #007bff; /* Blue button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.signup-btn:hover {
  background-color: rgb(26, 95, 255); /* Darker blue on hover */
}

.google-signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 100%;
  background-color: rgb(26, 95, 255);
  color: #ffff;
  font-weight: 700;

  gap: 1rem;
}
.google-logo {
  width: 40px;
  height: 40px;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.google-signup-btn:hover {
  background-color: rgb(26, 95, 255);
}

.login-link {
  color: #007bff; /* Blue link for Login */
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1.5rem;
  color: white; /* White arrow for back button */
  background: none;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  color: #ccc;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle.orange {
  background-color: #ff8c42; /* Orange accent */
  width: 120px;
  height: 120px;
  bottom: 10%;
  right: 10%;
}

.circle.pink {
  background-color: #ff5252; /* Pink accent */
  width: 80px;
  height: 80px;
  top: 10%;
  right: 10%;
}

.polygon {
  position: absolute;
  top: 20%;
  left: 10%;
  filter: drop-shadow(rgba(255, 141, 26, 0.867) -13px 16px);
  z-index: 1;
}
.ellipse2 {
  position: absolute;
  top: 15%;
  right: 0%;
  z-index: -1;
}
