body {
  /* width: 1440px; */
  height: 1868px;
  top: 469px;
  left: 839px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(0deg, #121212, #121212),
    linear-gradient(0deg, #171923, #171923),
    linear-gradient(0deg, #171923, #171923);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
